#portrait-container{
    background-color: #7d7979;
}

#img1{
    margin: 0 auto;
    width: 90%;

    margin-top: 58px;


}

/*#col-md-8 {
    width: 90%;
    text-align: center;
}

#col-md-8::before {
    content: "''";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

#img1{
    width: 90%;
    display: inline-block;
    vertical-align: middle;


}*/
